.showCardPage{
    margin-top: 10vh;
    .show-group {
        max-width: 500px;
        margin: 0 auto 1rem;
        
    }
    .show_group {
    margin-top: 30px;
    }
    .card_title {
        border-bottom: solid 3px #dddddd;
    }
    .editBtn {
        padding: 12px;
        width: 200px;
        border-radius: 21px;
        background: #026aa7;
        color: #fff;
        text-align: center;
        border: none;
        margin-top: 20px;
        opacity: 1;
        transition: opacity .5s;
        cursor: pointer;
        &:hover {
            opacity: .7;
        }
    }
}
